*{
    margin: 0;
    padding: 0;
}

.card-body {}
h1,h2,h3,h4,h5,h6,ul,li,p{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* header section start;;;;;;;;;;;;;;;;;;;;;;;;;; */
header{
    
padding: 50px 0px;
}
.info{
display: flex;
margin-left: 25px;
align-items: center;
}
.icon{
color: #f69165;
font-size: 22px;
}
.content{

margin-left: 12px;
}
.content h3{    
text-transform: uppercase;   
font-size: 16px;   
color: #363636;
}
.content p{    
font-size: 14px;   
color: #a0a0a0;
}

/* header section end;;;;;;;;;;;;;;;;;;;;;;;;;; */

/* main header section start */
.main_header{
    background-color: #00cce1;
    

}

.btn_appontment{

background: #f69165;
color: #f69165;
color: #ffffff;
text-transform: uppercase;
font-weight:500;
padding: 17px 20px;
transition: 0.5s all ease-in-out;
border-radius: 0;

clip-path: polygon(6% 1%, 100% 0%, 94% 101%, 0 104%);
}
.btn_appontment i{

margin-right: 10px;
}
.btn_appontment:hover{background-color: #f69165;

}
a.nav-link {
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    padding: 0 !important;
}
a.nav-link:hover{
    color: #ffffff;
}
a.nav-link::before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: -19px;
    height: 3px;
    background-color: #f69165;
    width: 0;
    transition: 0.5s all ease-in-out;
}
a.nav-link:hover:before{
    width: 100%;
}
.nav-item{
    padding: 0 15px;
}
/* main header section end=================== */

/* bannar section part start ====================================================== */

.bannar{background-image: url(../img/bg_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;

}
.bannar h2{   
font-size: 30px;   
color: #ffffff;   
background: #00cce1;   
display: inline-block;    
text-transform: uppercase;    
padding: 10px 15px;
}
.bannar h1{   
background: #f69165;   
font-size: 35px;   
color: #ffffff;    
margin-top: 12px;   
padding: 8px;   
text-transform: uppercase;    
display: inline-block;   
padding: 10px 15px;
}
.bannar p{   
color: #636363;  
margin-top: 10px;
position: relative;
font-size: 15px;
}
.btn-lern{
background: #f69165;
border-radius: 0;
padding: 12px 14px;
margin-top: 15px;
color: #ffffff;
color: #ffffff;
text-transform: uppercase;
transition: 0.5s all ease-in-out;
}


.btn-lern:hover{
    background-color: #b7edf3;
    color: #ffffff;
}
.btn-book{
background: #00cce1;
border-radius: 0;
padding: 12px 14px;
margin-top: 15px;
margin-left: 10px;
color: #ffffff;

text-transform: uppercase;
transition: 0.5s all ease-in-out;
}

.btn-book:hover{background-color: #f8ba9f;
    color: #ffffff;

}
.height{
    min-height: 80vh;
    align-items: center;
}
.img_pic{
    position: absolute;
    bottom: 0;
    width: 50%;
}
/* =============================bannar section part end ====================================================== */
/* dental plus agency start=================== */

.dental_agency{

padding: 63px 0px;
}
.dental_pl{

}
.dental_pl h1{
    
font-size: 30px;   
color: #000000;
}
.dental_pl p{   
color: #707070;   
font-size: 15px;   
margin-top: 15px;
}
.inner_item{
display: flex;
width: 100%;
justify-content: space-between;
margin-left: 20px;
flex-wrap: wrap;
padding: 20px 0px;
}
.main_content_items{

width: 48%;
}
.dental_icon{
color: #f69165;
font-size: 22px;
margin-top: 20px;
}
.dental_conten{

}
.dental_conten h3{   
font-size: 20px;   
color: #363636;
}
.dental_conten p{   
color: #707070;   
margin-top: 12px;   
font-size: 14px;
}
/* dental plus agency end=================== */

/* section doctor gallary start=============================== */
.doctor{
padding: 10px 0px;
background: #f9f9f9;
}
.doctor_ontent{
    
}
.doctor_ontent h1{
color: #000000;
font-size: 36px;
text-align: center;
margin-top: 100px;
}
.doctor_ontent p{
color: #707070;
font-size: 16px;
margin-top: 5px;
text-align: center;
}
.meet_icon{
text-align: center;
font-size: 36px;
margin-top: 5px;
color: #f69165;
transform: rotate(89deg);
}
.doctor_content{
text-align: center;
}
.doctor_content h4{
    
font-size: 20px;
}
.doctor_content p{   
color: #707070;   
font-size: 12px;    
margin-top: 4px;   
margin-bottom: 10px;
}
.image_item{   
position: relative;
}
.hover_icon{

}


.hover_icon ul{   
display: flex;  
list-style: none;     
text-align: center;
}
.hover_icon ul li{   
margin: 6px;    
height: 30px;    
width: 30px;    
border: 2px solid #ffffff;    
text-align: center;  
line-height: 30px;   
transition: 0.5s all ease-in-out;
transform: scale(1);

}
.hover_icon ul li a{   
color: #917979;   
font-size: 17px;
}
.hover_icon{  
position: absolute;  
left: 50%; 
top: 50%; 
transform: translate(-50%, -50%);
opacity: 0;
}
.hover_icon ul li:hover{
    background-color: #f69165;
    transform: scale(0);
  
}
.img-fluid {
    max-width: 100%;
    height: auto;
   
}
.main_image:hover .hover_icon{
    opacity: 1;
   
}
.main_image{overflow: hidden;

position: relative;
}

.main_image::before{
    
content: " ";   
position: absolute;   
left: 0;   
top: 0;   
height: 100%;   
width: 0;
transform: scale(0);
background: #454545;   
transition: 0.5s all ease-in-out;

}

.main_image:hover::before{
    box-sizing: border-box;
    transform: scale(1);  
    width: 100%;
   
    
    }
   /* section doctor gallary emd=============================== */

    /*================ service section start====================== */


    .service{
background: #ffffff;
padding: 40px 0px;

}
    .card_flex{
display: flex;
align-items: center;

}

    .card_icon{
font-size: 35px;
color: #f69165;

}
    .card_header{

    }
    .card_header h1{
font-size: 21px;
margin-left: 10px;

}
.card{
    margin-top: 0px;
    border: 2px solid #e7e7e7;
}
.card-body{
    padding: 30px 25px;
}
.card-body p{   
color: #707070; 
font-size: 14px; 
margin-top: 10px;
}
.card-body {
    color: #707070;

}
    .btn_read{      
font-size: 15px;       
text-transform: capitalize;      
margin-top: 0px;
    }
    /* ==================service section end =========================*/

    /* pricing section start */
.our_pricing_plan{
    background-color: #f9f9f9;
    padding: 50px 0px;
}

    .first{
        background: #f9f9f9;
        margin: 0;
        padding: 0px;
        position: relative;
        cursor: pointer;
        animation: updown 3s linear infinite;
        animation-direction: alternate;
    
    }
    @keyframes updown{
        0%{
           
            bottom: 10px;
        }
        25%{
            left: 2px;
        }
        50%{
            left: 5px;
        }
        100%{
            
            bottom: 30px;
        }
    }
    
.first::before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: #f8f4f2;
}

.first:hover:before{
    width: 100%;
    opacity: 0.2;
   
}
.first_content{

margin: 0;

padding: 0;
}
    .card_pricing_content{

text-align: center;

padding: 0px;

margin: 0px;
}
    .card_pricing_content h3{
        
color: #00cce1;
        
margin-top: 25px;
    }
    .card_pricing_content p{
        
color: #707070;
        
font-size: 12px;
        
margin-top: 10px;
    }
    .card_pricing_content h1{

        
background: #ffffff;
        
color: #00d6ec;
        
margin-top: 10px;
        
padding: 10px 15px;
    }
    .card_pricing_content small{
        
color: #00d6ec;
        
margin-top: 10px;
    }
    .card_pricing_content span{
        
line-height: 21px;    
line-height: 40px;

    }
   

    .sign_up{
        
background: #00cce1;
        
width: 30%;
        
text-align: center;
        
color: #ffffff;
        
margin: auto;
        
margin-bottom: 15px;
        
margin-top: 15px;
transition: 0.4s all ease-in-out;
    }
    .sign_up:hover{
        background-color: #c9c1a9;
        cursor: pointer;
    }
.btn_sing_up{
    color: #ffffff;
    text-align: center;
    /* margin-top: 10px; */
    text-transform: uppercase;
}





    /*======================= pricing section end */


    /* clint section start==================== */

.client_section{
    background-image: url(../img/01_Index-page.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
    padding: 50px 0px;
   
}

.client_section::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #333333;
    width: 100%;
    height: 100%;
    /* padding: 50px 0px; */
    opacity: 0.9;
}
.clint_main{

position: absolute;

left: 50%;

/* bottom: 108%; */

top: 65%;

transform: translate(-50%, -60%);

margin-left: 0px;
}
.clint_main ul{
    
display: flex;
    
list-style: none;
    
align-items: center;
    
text-align: center;
    

}
.clint_main ul li{
    
margin-left: 21px;
    
/* font-size: 100px; */
    
text-align: center;

}
.clint_content{

}
.clint_content h1{text-align: center;
    color:#ffffff; 
    opacity: 0.9;
}
.clint_content p{
    text-align: center;
    color: #ffffff;
    opacity: 0.9;
    
}
    /* clint section end==================== */

    /* ========footer content section start */



    section.footer {
        padding: 60px 0px;
        background: #1b1b1b;
    }

    .footer_item{

/* display: flex; */

}

    .footer_h2{

    }
    .footer_h2 h3{
        
color: #ffffff;
        
margin-bottom: 11px;
        
font-size: 20px;
    }

    .footer_info{

display: flex;

align-items: center;

}

    .info_img{

    }

    .f_content{

color: #b4b4b4;

font-size: 15px;

margin-left: 10px;

}
    .f_content p{
        
/* margin: 10px; */
        
padding: 5px 0;
    }
    .f_content small{
        
font-size: 11px;
        
/* margin-bottom: 20px; */
    }

    .serch_content{
        
    }
    .serch_content h2{
        
color: #ffffff;
        
margin-bottom: 20px;
        
font-size: 20px;
    }
    .serch_content p{
        
color: #b4b4b4;
        
font-size: 15px;
        
margin-bottom: 20px;
    }
    .footer_item input{

background: transparent;

border: none;

color: #b4b4b4;

}
    .footer_item button{

    }
    .footer_item ul{

display: flex;

list-style: none;


align-items: center;

margin-top: 15px;
}
.footer_item ul li{

border: 1px solid #ffffff;

margin-l: 10px;

height: 30px;

width: 30px;

margin-left: 10px;

text-align: center;

background: #323232;

border-radius: 2px;

line-height: 30px;

transition: 0.5s all ease-in-out;
}
.footer_item ul li:hover{
    background-color: #00d6ec;
}
    .footer_item ul li a{

color: #ffffff;

font-size: 15px;

}
.footer_item h1{

color: #ffffff;

font-size: 25px;
}

.form-control:focus{
    outline: none;
    background-color: transparent;
    box-shadow: none;
    resize: none;
}

button {
    background: #f59165;
    margin-left: 0px;
    /* padding: 5px 8px; */
    width: 100px;
    padding: 10px 0px;
    border: 1px solid #f59165;
   transition: 0.5s all ease-in-out;
    color: #ffffff;
    text-transform: uppercase;
    
}
button:hover{
    background-color: #00d6ec;
    border: none;

}
    /* ========footer content section end */


    /* end footer section start */

    .main_footer{ background-color: #161616;


    }

    .foooter_content{

text-align: center;

padding: 20px 1px;

}

    .foooter_content p{

color: #777777;

font-size: 12px;

}

    .foooter_content a{

color: #00cce1;

text-decoration: none;
transition: 0.4 all ease-in-out;
}

.foooter_content a:hover{color: #f59165;
}
    /* end footer section start */